:root{
    --color-background: #181818;
    --color-darkest: #020202;
    --color-blue: #0a2472;
    --color-header: #3f4238;
    --color-header-hover: #2f312b;
    --color-letter: #B7B7A4;
}

body{
    background-color: var(--color-background);
}

.logo_alphonsus{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

header{
    display: flex;
    background-color: var(--color-header);
    align-items: center;
    padding: 0;
}

.header-button{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.item-header{
    list-style: none;
}

.header-button a{
    padding: 1.3rem 0.4rem;
    
    margin: 0 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font: 600 1rem Times;
    color: var(--color-letter);
    display: flex;
}

#button-trovadorismo:hover{
    border-top: solid olive 0.2rem;
}

#button-barroco:hover{
    border-top: solid olive 0.2rem;
}

#button-romantismo:hover{
    border-top: solid olive 0.2rem;
}

#button-simbolismo:hover{
    border-top: solid olive 0.2rem;
}

#button-modernismo:hover{
    border-top: solid olive 0.2rem;
}